<!-- ヘッダーの呼び出し -->
<%= render "layouts/header" %>

<div class="container">
		<div class="row">
		<div class="col-md-offset-1 col-xs-10">
		<!-- メイン本文 -->
		<h1><strong>About</strong></h1>
		<h3 class="about_sentence">ながのCakeは全国発送可能なケーキ屋さんです。<br>
		お子様からお年寄りの方までお召し上がりいただけるよう、<br>
		様々なバリエーションをご用意しております。<br>
		また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
		ぜひご注文ください。</h3>
		</div>
		<div class="col-xs-1"></div>
	    </div>
</div>