<!-- ヘッダーの呼び出し -->
<%= render "layouts/header" %>

<div class="container">
		<div class="row">
		<div class="col-md-offset-2 col-xs-8">
		<!-- メイン本文 -->
		<h3 class="top_sentence">
		ようこそ、NaganoCakeへ！<br>
		このサイトは、ケーキ販売のECサイトになります。<br>
		会員でない方も商品の閲覧はできますが、<br>
		購入には会員登録が必要になります。
	    </h3>
	    </div>
		<div class="col-xs-2"></div>
	    </div>
</div>