<nav class="navbar navbar-default navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample10">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				Nagano Cake
			</a>
		</div>

		<div class="collapse navbar-collapse" id="navbarEexample10">
			<!-- ログイン中 -->
			<% if customer_signed_in? %>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/customers/current_user.id">マイページ</a></li>
					<li><a href="/items">商品一覧</a></li>
					<li><a href="/cart_items">カート</a></li>
					<li><a href="/customers/sign_out" data-method="delete" >ログアウト</a></li>
				</ul>
			<!-- ログアウト中 -->
			<% else %>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/home/about">About</a></li>
					<li><a href="/items">商品一覧</a></li>
					<li><a href="/customers/sign_up">新規登録</a></li>
					<li><a href="/customers/sign_in">ログイン</a></li>
				</ul>
			<% end %>
		</div>
	</div>
</nav>